
    .firstpart{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px rgb(235, 225, 225);
      }
      
      .nav{  
          text-align: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 500 ;
          padding-right:50px;
      }
      .right{
        float: right;
        position: relative;
        display: flex;
        right: -290px;
      }
      .secure{
        padding-left: 4px;
        font-weight: 400;
        font-size: 15px;
      }
      .myn{
          float: left;
      }
    
    .card-body{
       
       
        background-color: aliceblue;
       
    }
    
