
<section class="firstpart">
  <div class="myn"><a class="navbar-brand" href="#">
          <img src="assets/img/myn.png" width="120" height="50" alt="logo">
      </a></div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center bg-transparent">

      <div class="nav" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link " href="cart">BAG <span class="sr-only px-1">-------</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="address">ADDRESS <span class="sr-only px-1 pl-2">-------</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link step step1 active"  href="payment">PAYMENTS</a>
              </li>

          </ul>
      </div>
      <div class="right">
          <img src="https://constant.myntassets.com/checkout/assets/img/sprite-secure.png" class="secureIcon"
              width="26" height="28">
          <span class="secure"> 100% Secure</span>
      </div>
  </nav>

</section>


<section class="p-4 p-md-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            
            <h3><u>Payment</u></h3>
          </div>
          <form action="">
            <p class="fw-bold mb-4 pb-2">Saved cards:</p>

            <div class="d-flex flex-row align-items-center mb-4 pb-1">
              <img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
              <div class="flex-fill mx-3">
                <div class="form-outline">
                  <input type="text" id="formControlLgXc" class="form-control form-control-lg"
                    value="**** **** **** 3193" />
                  <label class="form-label" for="formControlLgXc">Card Number</label>
                </div>
              </div>
              <a href="cart">Remove card</a>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 pb-1">
              <img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" />
              <div class="flex-fill mx-3">
                <div class="form-outline">
                  <input type="text" id="formControlLgXs" class="form-control form-control-lg"
                    value="**** **** **** 4296" />
                  <label class="form-label" for="formControlLgXs">Card Number</label>
                </div>
              </div>
              <a href="cart">Remove card</a>
            </div>

            <p class="fw-bold mb-4">Add new card:</p>

            <div class="form-outline mb-4">
              <input type="text" id="formControlLgXsd" class="form-control form-control-lg"
                placeholder=" Enter your name " />
              <label class="form-label" for="formControlLgXsd">Cardholder's Name</label>
            </div>

            <div class="row mb-4">
              <div class="col-5">
                <div class="form-outline">
                  <input type="text" id="formControlLgXM" class="form-control form-control-lg"
                    placeholder="Card number" />
                  <label class="form-label" for="formControlLgXM">Card Number</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-outline">
                  <input type="password" id="formControlLgExpk" class="form-control form-control-lg"
                    placeholder="MM/YYYY" />
                  <label class="form-label" for="formControlLgExpk">Expire</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline">
                  <input type="password" id="formControlLgcvv" class="form-control form-control-lg"
                    placeholder="CVV" />
                  <label class="form-label" for="formControlLgcvv">CVV</label>
                </div>
              </div>
            </div>

            <button class="btn btn-success btn-sm " style="text-align:center;margin-left:180px;">Add card</button>
            <br><br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Proceed to Pay</button>
                
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
