<div class="container">
  <div class="row">
    <div class="header">
      <h3>Account</h3>
      <h6>Gouri SanKar NAyak</h6>
      <hr />
    </div>
    <div class="col=3" id="overview">
      <a href="#">Overview</a>
      <h4>ORDERS</h4>
      <a href="#">Orders & Returns</a>
      <h4>CREDITS</h4>
      <a href="#">Coupons</a><br />
      
      <a href="#">Myntra Credit</a>
      <a href="#">MynCash</a><br />
      <h4>Account</h4>
      <a href="#">Profile</a><br />
      <a href="#">Saved Cards</a><br />
      <a href="#">Saved VPA</a><br />
      <a href="#">Addresses</a><br />
      <a href="#">Myntra Insider</a>
      <h4>LEGAL</h4>
      <a href="#">Terms of Use</a><br />
      <a href="#">Privacy Policy</a>
    </div>

    <form class="col=6" id="setting">
      <div class="edit">
        <h3>Edit Details</h3>
        <hr />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Mobile Number</label
        >
        <input
          type="tel"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="moible number"
        />
        <button
          type="button"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          CHANGE
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Modal title
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Full Name</label
        >
        <input
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          type="text"
          placeholder="full name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <label>Gender</label><br />
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button
          type="button"
          class="btn btn-outline-primary"
          style="width: full"
        >
          Male
        </button>
        <button type="button" class="btn btn-outline-primary">Female</button>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Birthday</label
        >
        <input
          type="date"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Birthday"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Location</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="location"
        />
      </div>
      <h6>Alternate Mobile Details</h6>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input
          type="tel"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="alternate number"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Hint name"
        />
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-danger" type="button">Save Details</button>
        <button
          class="btn btn-light"
          type="button"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          CHNGE PASSWORD
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Modal title
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
