<div class="container">
  <div class="row">
    <div class="header">
      <h3>Account</h3>
      <hr />
    </div>
    <div class="col-3" id="overview">
      <a class="nav-link pb-3" href="#">Overview</a>
      <div class="orders border-top pb-3 pt-3">
        <h4>ORDERS</h4>
        <a class="nav-link" href="#">Orders & Returns</a>
      </div>
      <div class="credits border-top pb-3 pt-3">

        <h4>CREDITS</h4>
        <a class="nav-link" href="#">Coupons</a>
        <a class="nav-link" href="#">Myntra Credit</a>
        <a class="nav-link" href="#">MynCash</a>
      </div>
      <div class="account border-top pb-3 pt-3">

        <h4>Account</h4>
        <a class="nav-link active" href="#">Profile</a>
        <a class="nav-link" href="#">Saved Cards</a>
        <a class="nav-link" href="#">Saved VPA</a>
        <a class="nav-link" href="#">Addresses</a>
        <a class="nav-link" href="#">Myntra Insider</a>
      </div>
      <div class="legal border-top pb-3 pt-3">

        <h4>LEGAL</h4>
        <a class="nav-link" href="#">Terms of Use</a>
        <a class="nav-link" href="#">Privacy Policy</a>
      </div>
    </div>
    <div class="border col pb-4 mb-3">
      <form id="setting">
        <div class="edit border-bottom mb-4">
          <h3>Edit Details</h3>
        </div>
        <div class="container">

          <div class="mb-3">
            <div class="phone_number d-flex border">
              <!-- <label for="exampleFormControlInput1" class="form-label">Mobile Number</label> -->
              <input type="tel" class="form-control border-0" id="exampleFormControlInput1" placeholder="Mobile Number">
              <button type="button" class="btn change_mobile" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Update
              </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Modal title
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body"></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <input class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" placeholder="Full Name" />
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address" />
          </div>
          <div class="gender mb-3">

            <label>Gender</label>
            <div class="btn-group w-100" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary">
                Male
              </button>
              <button type="button" class="btn btn-outline-primary">Female</button>
            </div>
          </div>

          <div class="birthday mb-3">
            <label for="exampleFormControlInput1" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Birthday" />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Location</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Location" />
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-danger" type="button">Save Details</button>
            <button class="btn btn-light" type="button" class="btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              CHANGE PASSWORD
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Modal title
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body"></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>