<section class="firstpart">
    <div class="myn"><a class="navbar-brand" href="#">
            <img src="assets/img/myn.png" width="120" height="50" alt="logo">
        </a></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center bg-transparent">

        <div class="nav" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link " href="cart">BAG <span class="sr-only px-1">-------</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link step step1 active" href="address">ADDRESS <span
                            class="sr-only px-1 pl-2">-------</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="payment">PAYMENTS</a>
                </li>

            </ul>
        </div>
        <div class="right">
            <img src="https://constant.myntassets.com/checkout/assets/img/sprite-secure.png" class="secureIcon"
                width="26" height="28">
            <span class="secure"> 100% Secure</span>
        </div>
    </nav>

</section>

<div class="middle">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-2">

            </div>
            <div class="col-6">
                <div class="uppermiddle">
                    <span class="select">Select Delivery Address</span>
                    <button font-size="body3" font-weight="bold" role="button" type="button"
                        class="btn btn-primary newaddress" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="css-xjhrni">ADD NEW ADDRESS</div>
 

                    </button>
                    <!-- modal -->

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new address</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="divider"></div><div class="contact p-3">Contact Details</div> 
                        <div class="modal-body">
                            <input type="text" class="inputV2-base-input  coupon_inp" placeholder="Name*"><br><br>
                            <input type="number" class="inputV2-base-input  coupon_inp" placeholder="Mobile number*">
                        </div>
                        <div class="contact p-3">Address</div> 
                        <div class="modal-body">
                            <input type="number" class="inputV2-base-input" placeholder="Pincode*"><br><br>
                            <input type="text" class="inputV2-base-inputaddress " placeholder="Enter your full address*">
                            <div class="addaddress">

                            <button class="btn btn-primary " type="submit">
                                Add address
                            </button></div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
                <div class="default">DEFAULT ADDRESS</div>
                <div class="defaultaddress">
                    <div class="defaulrrt">

                        <div class="p-3 name"><input type="radio"> Sangram<span class="home p-3">Home</span></div>


                    </div>
                    <div class="addresstext">02, Adarsh Nagar , Near Mohali Tower - Mohali <br> 765342, Mohali - Punjab
                        <br><br> Mobile : <b>8923989496</b> </div>
                    <div class="pay">Pay on delivery available 
                        <div class="buttonsadd">
                            <button font-size="body3" font-weight="bold" role="button" type="button"
                                class="btn btn-primary addbutton" data-bs-toggle="modal" data-bs-target="#xampleModal">
                                <div class="css-xjhrni">Remove</div>
                            </button>
                            <div class="edit">
                            <button font-size="body3" font-weight="bold" role="button" type="button"
                                class="btn btn-primary addbutton" data-bs-toggle="modal" data-bs-target="#xampleModal">
                                <div class="css-xjhrni">Edit</div>
                            </button></div>
                        </div>
                    </div>
                    
                    
                </div>
                

            </div>
            <div class="col-3 last">
                <span class="lastpart">
                DELIVERY ESTIMATES</span>
                <div class="smallimg">
                <img src="assets/img/kurta.jpg" height="55" width="40" alt=""> Estimated delivery by <b>15 Nov </b> </div>

                <div class="price">
                    <div class="priceBlock">PRICE DETAILS (1 Item)</div>
                    <div class="priceBreakUp" id="priceBlock">
                        <div class="priceDetail"><span>Total MRP</span><span class="priceDetail2"><span></span><svg
                                    width="8" height="10" viewBox="0 0 8 10" class="priceDetail-base-icon">
                                    <path fill-rule="nonzero"
                                        d="M1.951 5.845l3.91 3.602-.902.376L.7 5.845l.452-.711c.186-.005.392-.02.615-.048a5.2 5.2 0 0 0 1.347-.356c.218-.09.42-.201.604-.331.185-.13.345-.281.479-.455.134-.173.231-.371.29-.594H.865v-.841h3.644a1.759 1.759 0 0 0-.284-.667 1.826 1.826 0 0 0-.567-.512 2.964 2.964 0 0 0-.865-.332A5.22 5.22 0 0 0 1.63.882H.864V0h6.2v.882H4.18c.173.077.33.174.468.29a2.09 2.09 0 0 1 .612.848c.064.162.11.325.137.489h1.668v.84H5.383a2.38 2.38 0 0 1-.43 1.03 3.095 3.095 0 0 1-.8.748 4.076 4.076 0 0 1-1.043.482 6.15 6.15 0 0 1-1.159.236z">
                                    </path>
                                </svg><span>11,495</span></span></div>
                        <div class="priceDetail-row"><span>Discount on MRP</span><span
                                class="priceDetail-value priceDetail-base-discount"><span>-</span><svg width="8"
                                    height="10" viewBox="0 0 8 10" class="priceDetail-base-icon">
                                    <path fill-rule="nonzero"
                                        d="M1.951 5.845l3.91 3.602-.902.376L.7 5.845l.452-.711c.186-.005.392-.02.615-.048a5.2 5.2 0 0 0 1.347-.356c.218-.09.42-.201.604-.331.185-.13.345-.281.479-.455.134-.173.231-.371.29-.594H.865v-.841h3.644a1.759 1.759 0 0 0-.284-.667 1.826 1.826 0 0 0-.567-.512 2.964 2.964 0 0 0-.865-.332A5.22 5.22 0 0 0 1.63.882H.864V0h6.2v.882H4.18c.173.077.33.174.468.29a2.09 2.09 0 0 1 .612.848c.064.162.11.325.137.489h1.668v.84H5.383a2.38 2.38 0 0 1-.43 1.03 3.095 3.095 0 0 1-.8.748 4.076 4.076 0 0 1-1.043.482 6.15 6.15 0 0 1-1.159.236z">
                                    </path>
                                </svg><span>5,175</span></span></div>
                        <div class="priceDetail-row"><span>Coupon Discount</span><span
                                class="priceDetail-value priceDetail-base-action">Apply Coupon</span></div>
                        <div class="priceDetail-row">
                            <div class="priceDetail-total"><span>Total Amount</span><span
                                    class="priceDetail-value "><span></span><svg xmlns="http://www.w3.org/2000/svg"
                                        width="8" height="10" viewBox="0 0 8 10" class="priceDetail-base-icon">
                                        <path fill-rule="nonzero"
                                            d="M5.841 9.44l-1.21.513L.365 5.968l.547-.875c.251-.005.529-.033.834-.086a4.91 4.91 0 0 0 .896-.242c.292-.11.556-.251.793-.424s.412-.383.526-.63H.564V2.578h3.431a1.779 1.779 0 0 0-.307-.51 1.99 1.99 0 0 0-.52-.426 2.789 2.789 0 0 0-.738-.29 3.955 3.955 0 0 0-.957-.107h-.91V0h6.31v1.244H4.522c.082.082.162.179.239.29a3.867 3.867 0 0 1 .39.712c.05.12.086.23.109.331h1.613v1.135H5.246a2.51 2.51 0 0 1-.434.906 3.293 3.293 0 0 1-.718.694 3.884 3.884 0 0 1-.916.478 5.378 5.378 0 0 1-1.028.267L5.84 9.44z">
                                        </path>
                                    </svg><span>6,320</span></span></div>
                        </div>
                    </div>

                    <div><a href="payment"><button width="100%" letterspacing="1px" font-size="body2" font-weight="bold" role="button"
                            class="order">
                            <div class="">PLACE ORDER</div>
                        </button></a></div>

                </div>
            </div>
            
        </div>
    </div>
</div>