<div class="row">
  <div class="col-3" *ngFor="let prod of data">
    <div class="">
      <div [id]="'carouselExampleIndicators' + prod.id" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="prod.img"
              height="250px" width="240px" class="d-block w-80" alt="">
          </div>
          <div class="carousel-item">
            <img [src]="prod.img_2" height="250px" width="240px"
              class="d-block w-80" alt="">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleIndicators'+prod.id"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleIndicators'+prod.id"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title">{{prod.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{prod.description}}</h6>
            <p class="card-text"><strong>${{prod.price}}</strong><del>${{prod.discount_price}}</del>({{prod.discount_perc}}% Off)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- -------------------------------------------------------- -->

  </div><br><br> 
  <div class="row row2">
 
  

  
  <div class="col-3">
    <div class="">
      <div id="carouselExampleIndicators5" class="carousel slide" style="width: 95%;" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://5.imimg.com/data5/EL/PA/MY-6827188/dennis-morton-men-27s-ink-blue-party-half-sleeve-art-silk-shirt-500x500.png"
              height="300px" class="d-block w-80" alt="">
          </div>
          <div class="carousel-item">
            <img src="https://5.imimg.com/data5/GH/UA/MY-6827188/selection_902-1000x1000.png" height="300px"
              class="d-block w-80" alt="">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators5"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators5"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 15.5rem;">
          <div class="card-body">
            <h5 class="card-title">INVICTUS</h5>
            <h6 class="card-subtitle mb-2 text-muted">shining formal shirt</h6>
            <p class="card-text"><strong>₹999</strong><del>₹5999</del>(60% Off)</p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-3">
    <div class="">
      <div id="carouselExampleIndicators7" class="carousel slide" style="width: 85%;" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://m.media-amazon.com/images/I/71Bo9OtlEtL._UL1440_.jpg"
              height="300px" class="d-block w-80" alt="">
          </div>
          <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/I/41JdNCnIy8L._SL500_.jpg" height="300px"
              class="d-block w-80" alt="">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators7"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators7"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 15.5rem;">
          <div class="card-body shadow-5">
            <h5 class="card-title">Marks & Spencer</h5>
            <h6 class="card-subtitle mb-2 text-muted">cotton Formal Shirts</h6>
            <p class="card-text"><strong>₹999</strong><del>₹5999</del>(60% Off)</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="">
      <div id="carouselExampleIndicators2" class="carousel slide" style="width: 85%;" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://i.pinimg.com/736x/95/15/e5/9515e5a8601ff2d77ad32d50ee6afbb3--geek-shirts-cool-t-shirts.jpg"
              height="300px" class="d-block w-80" alt="">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4R56u65GaXxmT1Ps-1Me2oyLsYCPjCsEgjSK0MqQEUVEoHN3XoWLGoUdTluYMP5vAVyM&usqp=CAU" height="300px"
              class="d-block w-80" alt="">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:15.5rem;">
          <div class="card-body">
            <h5 class="card-title">IVOC</h5>
            <h6 class="card-subtitle mb-2 text-muted">Men T-Shirt</h6>
            <p class="card-text"><strong>₹907</strong><del>₹2399</del>(₹1259 Off)</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="">
      <div id="carouselExampleIndicators8" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://m.media-amazon.com/images/I/31YgvXVeUDL.jpg"
              height="300px" class="d-block w-80" alt="">
          </div>
          <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/I/61UCGFZvM4L._UX569_.jpg" height="300px"
              class="d-block w-80" alt="">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators8"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators8"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="card shadow-lg p-3 mb-5 bg-waring rounded" style="width: 15.5rem;">
          <div class="card-body">
            <h5 class="card-title">Louis Philippe</h5>
            <h6 class="card-subtitle mb-2 text-muted">slim fit multicolour shirt</h6>
            <p class="card-text"><strong>₹1559</strong><del>₹2599</del>(30% Off)</p>

          </div>
        </div>
      </div>
    </div>
  </div> 
  
</div>



 

    
  
