
#log{
    margin-right: 30px;
}
#person{
    margin-right: 20px;
}
#heart{
    margin-right:20px;
}

.cardbd{
    border-radius: 10px;
    height: 100px;
    background-color: rgb(240, 177, 155);
    box-shadow: 10px 10px red;
   
}

#contain{
    background:rgb(213, 225, 235);
}
#card1{
    padding:10px;
    margin: 15px;
}
#card2{
    padding:10px;
    margin:15px;
}
#card3{
    padding:10px;
    margin:15px;
}
#card4{
    padding:10px;
    margin:15px;
}
#card5{
    padding:10px;
    margin:15px;
}
#card6{
    padding:10px;
    margin:15px;
}
#contain1{
    background:rgb(248, 225, 217);
}

#card10{
    padding:10px;
    margin: 15px;

}
#card11{
    padding:10px;
    margin:15px;
}
#card12{
    padding:10px;
    margin:15px;
}
#card13{
    padding:10px;
    margin:15px;
}
#card14{
    padding:10px;
    margin:15px;
}

#con{
    background:aliceblue;
}
#card16{
    padding:10px;
    margin: 15px;
    
}
#card17{
    padding:10px;
    margin:15px;
}
#card18{
    padding:10px;
    margin:15px;
}
#card19{
    padding:10px;
    margin:15px;
}
#card20{
    padding:10px;
    margin:15px;
}
#con1{
   
    padding: 50px;
   
}
.search_icon{
width: 45px;
height: 35px;
// position: absolute;
}
.search_inp:focus{
    box-shadow: none;
    border-bottom: 1px solid salmon;
}
.profile_opt{
    left: -80px;
    width: 180px;
    height: 211px;
    top: 50px;
}
.profile_sec{
    right: 80px;
    height: 51px;
    padding-left: 15px;
}
.drop-item{
    padding: 20px 20px 20px 0px;
}
.user-cont{
    display: none;
}
.dropdown:hover{
    border-bottom: 4px solid red;
    .user-cont{
        display: block;
    }  
} 
.kid-containt{
    display: none;
}
.dropdown:hover .kid-containt{
    display: block;
}