<div class="row row1">
    
   <div class="col-3" *ngFor="let item of product">
        <div class="">
            <div id="carouselExampleIndicators1" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    [src]="item.image"
                    height="300px" width="300px"  class="d-block " alt="">
                </div>
                <div class="carousel-item">
                  <img [src]="item.second_image" height="300px"
                  width="300px"   class="d-block " alt="">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width:14rem;">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{item.description}}</h6>
                  <p class="card-text"><strong>{{item.price}}</strong><del>{{item.discount_price}}</del>{{item.discount_percentage}}</p>
      
                </div>
              </div>
            </div>
          </div>
        
    </div>
    </div>