<div class="row row1">
    
   <div class="col-3">
        <div class="">
            <div id="carouselExampleIndicators1" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="https://i.etsystatic.com/24622444/r/il/231307/2920834284/il_570xN.2920834284_tdvn.jpg"
                    height="300px" width="300px"  class="d-block " alt="">
                </div>
                <div class="carousel-item">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTQIR1frmH4nUtzosVI2ZYIq_AYqsV5oIkvlHPD3WEU28xcoJEBEmkLDscmVbPCCxGjB4&usqp=CAU" height="300px"
                  width="300px"   class="d-block " alt="">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width:14rem;">
                <div class="card-body">
                  <h5 class="card-title">All about you</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Embroidered Net saree</h6>
                  <p class="card-text"><strong>₹1759</strong><del>₹3589</del>(51% Off)</p>
      
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <div class="col-3">
        <div class="">
            <div id="carouselExampleIndicators8" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD6GmIzy7gbXO3e63ajVpVyBwDfrwhmA9i3pWSnqk2Nsf4j8gPKgiAARbbsb9wV4ba4kI&usqp=CAU"
                    height="300px" class="d-block " alt="">
                </div>
                
                <div class="carousel-item">
                  <img src="https://5.imimg.com/data5/DI/LM/MY-34711257/georgette-designer-saree-with-blouse-piece-500x500.jpg" height="300px"
                    class="d-block " alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators8"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators8"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Indus</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Embroidered saree</h6>
                  <p class="card-text"><strong>₹1259</strong><del>₹3589</del>(51% Off)</p>
      
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <div class="col-3">
        <div class="">
            <div id="carouselExampleIndicators5" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="http://cdn.shopify.com/s/files/1/0570/6543/9392/products/solid-saree-with-embellished-belt-689378.jpg?v=1630052130"
                    height="300px" class="d-block " alt="">
                </div>
                <div class="carousel-item">
                  <img src="https://cdn.shopify.com/s/files/1/0597/4913/8625/products/bottle-green-woven-design-georgette-saree-embellished-belt-936626_1400x.jpg?v=1659795097" height="300px"
                    class="d-block " alt="">
                </div>
               
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators5"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators5"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Mitera</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Stripped saree</h6>
                  <p class="card-text"><strong>₹1759</strong><del>₹5589</del>(71% Off)</p>
      
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <div class="col-3">
      <div class="">
          <div id="carouselExampleIndicators0" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
    
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="http://cdn.shopify.com/s/files/1/2699/9016/collections/Untitled_design_36.png?v=1620732191"
                  height="300px" width="300px" class="d-block " alt="">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.shopify.com/s/files/1/1950/6115/products/0123014380_1200x.jpg?v=1662805429" height="300px"
                 width="300px"  class="d-block " alt="">
              </div>
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators0"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators0"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <div class="card" style="width: 14rem;">
              <div class="card-body">
                <h5 class="card-title">Kalini</h5>
                <h6 class="card-subtitle mb-2 text-muted">Banarsi saree</h6>
                <p class="card-text"><strong>₹609</strong><del>₹1589</del>(70% Off)</p>
    
              </div>
            </div>
          </div>
        </div>
      
  </div>
</div>
  <br>
  <div class="row row2">
    <div class="col-3">
        <div class="">
            <div id="carouselExampleIndicators4" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="https://assets.panashindia.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/4/3/4373sr03-pjs1226.jpg"
                    height="300px" class="d-block " alt="">
                </div>
                <div class="carousel-item">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKjU6bUBh4ZG9z1Z3hvtK_7fJLr1g9GN6gpQXW8PBSGnlT3mlqbG_sUVC2WaD6c98HCzc&usqp=CAU" height="300px"
                    class="d-block " alt="">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Kalini</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Floral printed saree</h6>
                  <p class="card-text"><strong>₹559</strong><del>₹1059</del>(50% Off)</p>
      
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="">
            <div id="carouselExampleIndicators6" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="https://rukminim1.flixcart.com/image/832/832/ku2zjww0/sari/x/g/k/free-mb-rukshamani-woven-kanjeevaram-pure-silk-jacquard-zari-original-imag7aavrkkryyuy.jpeg?q=70"
                    height="300px" width="300px"  class="d-block " alt="">
                </div>
                <div class="carousel-item">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHePMDJaJsu1o-EwJT9B-LtoGW_JaEnZgZHhKnjn0Ne3U5MCWGejKkSQnSSzjK8OOJjOQ&usqp=CAU" height="300px"
                  width="300px"   class="d-block " alt="">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators6"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators6"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Mitera</h5>
                  <h6 class="card-subtitle mb-2 text-muted">woven Designed kanjeevaramsaree</h6>
                  <p class="card-text"><strong>₹1759</strong><del>₹3589</del>(51% Off)</p>
      
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <div class="col-3">
        <div class="">
            <div id="carouselExampleIndicators9" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="https://i.etsystatic.com/31135782/r/il/b2b2e6/4185252385/il_fullxfull.4185252385_1vjz.jpg"
                    height="300px"width="300px"  class="d-block " alt="">
                </div>
                
                <div class="carousel-item">
                  <img src="https://i.etsystatic.com/17630732/r/il/85480d/4068053241/il_340x270.4068053241_eamk.jpg" height="300px"
                  width="300px"   class="d-block " alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators9"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators9"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Indya</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Sequinned saree</h6>
                  <p class="card-text"><strong>₹5900</strong>Only</p>
      
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <div class="col-3">
        <div class="">
            <div id="carouselExampleIndicators2" class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="https://meghaandjigar.com/wp-content/uploads/2020/08/1A7A9534-Final.jpg"
                    height="300px"width="300px"  class="d-block " alt="">
                </div>
                <div class="carousel-item">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH5N1Rt6ITzeJNx3oPADgVzmD-U5D_dwIepo5HbLF3vNQrhq4Essw_Uc2Ts7G6QnRbC_4&usqp=CAU" 
                  height="300px"  width="300px"    class="d-block " alt="">
                </div>
               
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Ahalyaa</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Ready to wear saree</h6>
                  <p class="card-text"><strong>₹1890</strong><del>₹5890</del>(68% Off)</p>
      
                </div>
              </div>
            </div>
          </div>
        
    </div>
  </div>
