
  <div class="container carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://etimg.etb2bimg.com/photo/85002469.cms" height="550px"  width="350px" class="d-block w-100"  alt="">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/myntrra.png" height="550px" width="350px" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://img.paisawapas.com/ovz3vew9pw/2022/09/17120934/Myntra-Coupon-Code-2022.png" height="550px"  width="350px"class="d-block w-100" alt="">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <h1 class="display-2 text-center text font-weight-bold">Clearance  Corner <img src="https://images.all-free-download.com/images/graphiclarge/abstract_background_312015.jpg" height="50px"></h1>
  <h1 class="display-5 text-center font-weight-bold">Mega Deals,Only Till the Stocks Last! </h1>
  <br>
  <div class="container">
    <div class="row">
        <div class="col-sm-2">
  
  <div id="card1"class="card" style="width: 12rem;">
    <img src="..//../assets/img/card1.png" height="250px" width="250px" class="card-img-top" alt="...">
    <div class="card-body  cardbd ">
      <p class="card-text h5">Myntra Unique Ethnic Wear</p>
        <h5>Min. 60% Off </h5>
        
    </div>
  </div>
  </div>
  <div class="col-sm-2">
  
  <div id="card2" class="card" style="width: 12rem;">
    <img src="..//../assets/img/card2.png" height="250px" width="250px" class="card-img-top" alt="...">
    <div class="card-body cardbd">
      <p class="card-text h5">Myntra Styles</p>
        <p class="card-text h5"><i>Under</i><sup>₹</sup><DEL>2999</DEL><br><sup>₹</sup>1099</p>
    </div>
  </div>
  </div>
  <div class="col-sm-2">
  
  <div id="card3"class="card" style="width: 12rem;">
    <img src="..//../assets/img/cards3.png" height="250px" width="250px" class="card-img-top" alt="...">
    <div class="card-body cardbd">
      <p class="card-text h5">Ethnic Saree Wear</p>
      <p class="card-text h5"><i>Under</i><sup>₹</sup>599</p>
    </div>
  </div>
  </div>
  <div class="col-sm-2">
  
    <div id="card4" class="card" style="width: 12rem;">
      <img src="..//../assets/img/card4.png" height="250px" width="250px" class="card-img-top" alt="...">
      <div class="card-body cardbd">
       <p class="card-text h5">Classic Kurti</p>
        <p class="card-text h5"><i>Under</i><sup>₹</sup><DEL>999</DEL><br><sup>₹</sup>599</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  
    <div id="card5" class="card" style="width: 12rem;">
      <img src="..//../assets/img/jewellery.png" height="250px" width="250px" class="card-img-top" alt="...">
      <div class="card-body cardbd">
        <p class="card-text h5">Ethnic Jewellery</p>
        <p class="card-text h5">Min. 80% Off</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  
    <div  id="card6" class="card" style="width: 12rem;">
      <img src="..//../assets/img/wrong.png" height="250px" width="250px" class="card-img-top" alt="...">
      <div class="card-body cardbd">
        <p class="card-text h5">Dapper Styles</p>
          <p class="card-text h5"><i>Starting</i><sup>₹</sup><DEL>799</DEL><br><sup>₹</sup>299</p>
      </div>
    </div>
  </div>
  </div>
  </div>
  <br>
  <h1 class="display-2 text-center font-weight-bold">Budget Buys<sup><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4BM_Ryh4YQ98FqXrBMNp8cZEyzFw_tT3egTGVOPyWgqTU_mX-d-RQLghF3SsODSg_2gM&usqp=CAU" height="20px"></sup><sup><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4BM_Ryh4YQ98FqXrBMNp8cZEyzFw_tT3egTGVOPyWgqTU_mX-d-RQLghF3SsODSg_2gM&usqp=CAU" height="50px"></sup> </h1>
  
  <div class="container" id="contain">
    <div class="row">
        <div id="card1" class="col-sm-2">
            <div class="card" style="width: 12rem;">
                <img src="..//../assets/img/shoes.png" height="150px" width="150px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text h6">Sport Shoes</p>
                    <p class="card-text h5"><i>Under</i><sup>₹</sup>2499
                </div>
              </div>
        </div>
        <div id="card2" class="col-sm-2">
            <div class="card" style="width: 12rem;">
                <img src="..//../assets/img/active.png" height="150px" width="150px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text h6">Activewear</p>
                    <p class="card-text h5"><i>Under</i><sup>₹</sup>999
                </div>
              </div>
        </div>
        <div id="card3" class="col-sm-2">
            <div class="card" style="width: 12rem;">
                <img src="..//../assets/img/bags.png"height="150px" width="150px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text h6">Handbags</p>
                    <p class="card-text h5"><i>Under</i><sup>₹</sup>999
                </div>
              </div>
        </div>
        <div id="card4" class="col-sm-2">
            <div class="card" style="width: 12rem;">
                <img src="..//../assets/img/tshirts.png" height="150px" width="150px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text h6">Tshirts</p>
                    <p class="card-text h5"><i>Under</i><sup>₹</sup>499
                </div>
              </div>
        </div>
        <div id="card5" class="col-sm-2">
            <div class="card" style="width: 12rem;">
                <img src="..//../assets/img/flip.png" height="150px" width="150px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text h6">Flipflops</p>
                    <p class="card-text h5"><i>Under</i><sup>₹</sup>999
                </div>
              </div>
        </div>
        
    </div>
  </div>
  <br>
  <h1 class="display-2 text-center font-weight-bold">Categories To Bag<sup><img src="..//../assets/img/star.png" height="50px"></sup></h1>
  <br>
  <div class="container" id="contain1">
    <div class="row">
        <div id="card10" class="col-sm-2">
            <div class="card-img-top rounded-circle" style="width: 12rem;">
                <img src="..//../assets/img/kurta sets.png" height="200px" width="180px" class="card-img-top rounded-circle  " alt="kurta seta">
                <div class="card-body">
                    <p class="card-text h4" style="text-align:center">Kurta Sets</p>
                   
                </div>
              </div>
        </div>
        <div id="card11" class="col-sm-2">
            <div class="card-img-top rounded-circle" style="width: 12rem;">
                <img src="..//../assets/img/shirts.png" height="200px" width="180px" class="card-img-top rounded-circle" alt="shirts">
                <div class="card-body">
                    <p class="card-text h4" style="text-align:center">T-Shirts</p>
                    
                </div>
              </div>
        </div>
        <div id="card12" class="col-sm-2">
            <div class="card-img-top rounded-circle" style="width: 12rem;">
                <img src="..//../assets/img/tops.png"height="200px" width="180px" class="card-img-top rounded-circle" alt="tops">
                <div class="card-body">
                    <p class="card-text h4" style="text-align:center">Tops</p>
                    
                </div>
              </div>
        </div>
        <div id="card13" class="col-sm-2">
            <div class="card-img-top rounded-circle" style="width: 12rem;">
                <img src="..//../assets/img/infants.png" height="200px" width="180px" class="card-img-top rounded-circle" alt="infants">
                <div class="card-body">
                    <p class="card-text h4" style="text-align:center">Infant Essentials</p>
                   
                </div>
              </div>
        </div>
        <div id="card14" class="col-sm-2">
            <div class="card-img-top rounded-circle" style="width: 12rem;">
                <img src="..//../assets/img/track.png" height="200px" width="180px" class="card-img-top rounded-circle" alt="track pants">
                <div class="card-body">
                    <p class="card-text h4" style="text-align:center">Track Pants</p>
                   
                </div>
              </div>
        </div>
        
    </div>
  </div>
  <br>
  <h1 class="display-2 text-center font-weight-bold">Deals on Top Brands<sup><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPbFc-WeYQ5v3UCCVOqfNZlt1lL7EUdpzWqQ&usqp=CAU" height="50px"></sup></h1>
  <br>
  <div class="container" id="con">
    <div class="row">
        <div id="card16" class="col-sm-2">
            <div class="card shadow  bg-white rounded" style="width: 12rem;">
                <img src="..//../assets/img/addidas.png" height="200px" width="200px" class="card-img-top" alt="addidas">
                <div class="card-body">
                    <p class="card-text h3" style="text-align: center;">50-70% off</p>
                    
                </div>
              </div>
        </div>
        <div id="card17" class="col-sm-2">
            <div class="card shadow  bg-white rounded" style="width: 12rem;">
                <img src="..//../assets/img/libas.png" height="200px" width="200px" class="card-img-top" alt="libas">
                <div class="card-body">
                    <p class="card-text h3" style="text-align: center;">40-60% off</p>
                   
                </div>
              </div>
        </div>
        <div id="card18" class="col-sm-2">
            <div class="card shadow  bg-white rounded" style="width: 12rem;">
                <img src="..//../assets/img/puma.png"height="200px" width="200px" class="card-img-top" alt="puma">
                <div class="card-body">
                    <p class="card-text h3" style="text-align: center;">30-70% off</p>
                    
                </div>
              </div>
        </div>
        <div id="card19" class="col-sm-2">
            <div class="card shadow  bg-white rounded" style="width: 12rem;">
                <img src="..//../assets/img/biba.png" height="200px" width="200px" class="card-img-top" alt="biba">
                <div class="card-body">
                    <p class="card-text h3" style="text-align: center;">30-60% off</p>
                    
                </div>
              </div>
        </div>
        <div id="card20" class="col-sm-2">
            <div class="card shadow  bg-white rounded" style="width: 12rem;">
                <img src="..//../assets/img/tommy.png" height="200px" width="200px" class="card-img-top" alt="tommy hilfiger">
                <div class="card-body">
                    <p class="card-text h3" style="text-align: center;">30-50% off</p>
                    
                </div>
              </div>
        </div>
        
    </div>
    </div>
    <br>
    <h1 class="display-2 text-center font-weight-bold">Brands At Slashed Prices<sup><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE9jewtmXuojOd6i4j3m4F7374xzuhqwgBTSgZKNuvCxC7tYCyqATXwZw83hooTn7GocU&usqp=CAU" height="50px"></sup></h1>
    <br>
    <div class="container" id="fluid">
      <div class="row">
          <div id="card21" class="col-sm-2">
              <div class="card shadow  bg-white rounded" style="width: 12rem;">
                  <img src="..//../assets/img/anouk.png" height="200px" width="200px" class="card-img-top" alt="addidas">
                  <div class="card-body">
                      <h6 class="card-text h6" style="text-align: center;">Starting</h6>
                     <span style='color:red;text-decoration:line-through'>
                          <span style='color:black;'><h5 style="text-align: center;">₹1299</h5></span>
                        </span><h5 style="text-align: center;">₹499</h5>
                      
                  </div>
                </div>
          </div>
          <div id="card22" class="col-sm-2">
              <div class="card shadow  bg-white rounded" style="width: 12rem;">
                  <img src="..//../assets/img/roadster.png" height="200px" width="200px" class="card-img-top" alt="libas">
                  <div class="card-body">
                      <h6 class="card-text h6" style="text-align: center;">Starting</h6>
                      <span style='color:red;text-decoration:line-through'>
                          <span style='color:black;'><h5 style="text-align: center;">₹499</h5></span>
                        </span><h5 style="text-align: center;">₹199</h5>
                  </div>
                </div>
          </div>
          <div id="card23" class="col-sm-2">
              <div class="card shadow  bg-white rounded" style="width: 12rem;">
                  <img src="..//../assets/img/hrx.png"height="200px" width="200px" class="card-img-top" alt="puma">
                  <div class="card-body">
                      <h6 class="card-text h6" style="text-align: center;">Starting</h6>
                      <span style='color:red;text-decoration:line-through'>
                          <span style='color:black;'><h5 style="text-align: center;">₹699</h5></span>
                        </span><h5 style="text-align: center;">₹299</h5>
                  </div>
                </div>
          </div>
          <div id="card24" class="col-sm-2">
              <div class="card shadow  bg-white rounded" style="width: 12rem;">
                  <img src="..//../assets/img/sangria.png" height="200px" width="200px" class="card-img-top" alt="biba">
                  <div class="card-body">
                      <h6 class="card-text h6" style="text-align: center;">Starting</h6>
                      <span style='color:red;text-decoration:line-through'>
                          <span style='color:black;'><h5 style="text-align: center;">₹1999</h5></span>
                        </span><h5 style="text-align: center;">₹799</h5>
                  </div>
                </div>
          </div>
          <div id="card25" class="col-sm-2">
              <div class="card shadow  bg-white rounded" style="width: 12rem;">
                  <img src="..//../assets/img/house of pataudi.png" height="200px" width="200px" class="card-img-top" alt="tommy hilfiger">
                  <div class="card-body">
                      <h6 class="card-text h6" style="text-align: center;">Starting</h6>
                      <span style='color:red;text-decoration:line-through'>
                          <span style='color:black;'><h5 style="text-align: center;">₹1499</h5></span>
                        </span><h5 style="text-align: center;">₹599</h5>
                  </div>
                </div>
          </div>
          <div id="card26" class="col-sm-2">
              <div class="card shadow  bg-white rounded" style="width: 12rem;">
                  <img src="..//../assets/img/dressberry.png" height="200px" width="200px" class="card-img-top" alt="tommy hilfiger">
                  <div class="card-body">
                      <h6 class="card-text h6" style="text-align: center;">Starting</h6>
                      <span style='color:red;text-decoration:line-through'>
                          <span style='color:black;'><h5 style="text-align: center;">₹1699</h5></span>
                        </span><h5 style="text-align: center;">₹699</h5>
                  </div>
                </div>
          </div>
          
      </div>
      </div>