<div class="row row1">
    
  <div class="col-3" *ngFor="let item of product">
       <div class="">
           <div [id]="'carouselExampleIndicators'+item._id"  class="carousel slide" style="width: 78%;" data-bs-ride="carousel">
     
             <div class="carousel-inner">
              <div class="carousel-inner">
                <div class="carousel-item" [ngClass]="(img == item.images[0] ? 'active':'')" *ngFor="let img of item.images" (click)="infoRed(item._id)">
            <img
              [src]="img"
              height="300px" width="300px"class="d-block " alt="">
          </div>
               
             </div>
             <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleIndicators1'+item._id"
               data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
             </button>
             <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleIndicators1'+item._id"
               data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
             </button>
             <div class="card cardss" style="width:14rem;">
               <div class="card-body">
                 <h5 class="card-title">{{item.name}}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">{{item.description}}</h6>
                 <p class="card-text"><strong>{{item.price}}</strong><del>{{item.discount_price}}</del>{{item.discount_percentage}}</p>
     
               </div>
             </div>
           </div>
         </div>
       
   </div>
   </div>