
<div class="whole"><header><b>Hello! There
    <img src="assets/img/logos.png" alt="logo" height="40px" width="65px">
</b> </header>
<nav class="navbar navbar-expand-lg bg-light">

<div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="info">Photos</a>
            </li>
            <li class="nav-item">
            <!-- <button><a class="nav-link" href="login">Login</a></button>      -->
            </li>

            

            <li class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="btnn" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Login
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="login">User login</a></li>
                    <li><a class="dropdown-item" href="cart">Cart</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                
            </li>

        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">

        </form>
    </div>
</div>
</nav>
<div class="container-fluid">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/ang7.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Welcome user.</h5>
                <p>You can explore some of our Creations.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/ang4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>There's a impressive click.</h5>
                <p>Some representative horizontal photographes.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/cam.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Another one for your information.</h5>
                <p>It's a basic top view click.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div><br>

<section class="section-1">
    <div class="contr">
        <div class="row">
            <div class="col-3">
                <div class="card card-1" style="width: 18rem;">
                    <img src="assets/img/card-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>A Shadow Click:</h5>
                        <p class="card-text">It’s no wonder that photography quotes are one of the most popular
                            things to share on social media, or anything usually by other photographers, of
                            course.
                        </p>
                    </div>
                    <button class="btn btn-primary  card-buttons" data-bs-toggle="tooltip"
                        title="Click here to see next!">Click!</button>
                </div><br>
            </div>
            <div class="col-3">
                <div class="card card-1" style="width: 18rem;">
                    <img src="assets/img/ang10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>A Convex Lens:</h5>
                        <p class="card-text">Reading one line that encapsulates our love for photography and art
                            is
                            powerful and often reminds us of the importance of documenting moments with our
                            cameras.
                        </p>
                    </div>
                    <button class="btn btn-primary  card-buttons" data-bs-toggle="tooltip"
                        title="Click here to see next!">Click!</button>
                </div><br>
            </div>
            <div class="col-3">
                <div class="card card-1" style="width: 18rem;">
                    <img src="assets/img/ang9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>A User View:</h5>
                        <p class="card-text">Here’s a selection of the most inspirational photography quotes
                            primarily made by great and famous photographers over the past 100 years.</p>
                    </div>
                    <button class="btn btn-primary  card-buttons" data-bs-toggle="tooltip"
                        title="Click here to see next!">Click!</button>
                </div><br>
            </div>
            <div class="col-3">
                <div class="card card-1" style="width: 18rem;">
                    <img src="assets/img/card-4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5>A Former Photo:</h5>
                        <p class="card-text"> If you can’t feel what you’re looking at, then you’re never going
                            to
                            get others to feel anything when they look at your pictures reminding yourself.</p>
                    </div>
                    <button class="btn btn-primary  card-buttons" data-bs-toggle="tooltip"
                        title="Click here to see next!">Click!</button>
                </div><br>
            </div>
        </div>

    </div>

</section><br>

</div><br>
<footer>&copy; A reader will be distracted by <br> &copy;Sangram the content of this page. </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
crossorigin="anonymous"></script>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>