<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading mb-10">My wishlist
                <i class="bi bi-heart-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                </i>
            </div>
                <br>
                <div class="table-wishlist">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="45%">Product Name</th>
                                <th width="15%">Unit Price</th>
                                <th width="15%">Stock Status</th>
                                <th width="15%"> Add to Cart</th>
                                <th width="10%">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product" style="width:80px;height:80px">
                                            <img src="https://5.imimg.com/data5/PJ/DI/MY-3877854/round-neck-plain-tshirt-with-multi-color-design-500x500.png" alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                             Roadster T-Shirt for men
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class="price">₹450.00</td>
                                <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                <td width="15%"><button class="btn btn-warning"><a href="cart">Add to Cart</a></button></td>
                                <td width="10%" class="text-center"><button class="btn btn-info"><a href="cart">Remove</a></button>

                                </td>
                            </tr>
                            <tr>
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product" style="width:80px;height:80px">
                                            <img src="https://www.frontierraas.com/pub/media/catalog/product/cache/3d090360afc6722f79f7ab5767a6bc73/f/r/fr12151207_6_.jpg" alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            Dressberry Saree for Women
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class="price">₹1150.00</td>
                                <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                <td width="15%"><button class="btn btn-warning"><a href="cart">Add to Cart</a></button></td>
                                <td width="10%" class="text-center"><button class="btn btn-info"><a href="cart">Remove</a></button></td>
                            </tr>
                            <tr>
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product" style="width:80px;height:80px">
                                            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/11391306/2020/2/12/10b9eea6-35be-4b7d-8c39-826d4d3500c11581485549564-US-Polo-Assn-Men-Casual-Shoes-4671581485548936-1.jpg" alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            U.S.Pollian Casual Shoes for men
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class="price">₹850.00</td>
                                <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                <td width="15%"><button class="btn btn-warning"><a href="cart">Add to Cart</a></button></td>
                                <td width="10%" class="text-center"><button class="btn btn-info"><a href="cart">Remove</a></button>
                                    
                            
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

